<div class="row">
    <div class="col">

        <div *ngFor="let todo of todos | slice:0:6; let i = index" class="row justify-content-end mb-2">
            <div class="col-md-6">

                <div class="card shadow-sm">
                    <div class="card-body p-0">

                        <div class="container-fluid">
                            <div class="row py-2">
                                <div class="col">

<!--                                    <span class="mr-2">{{i + 1}}</span>-->
                                    <app-todo [todo]="todo" [allTags]="allTags"></app-todo>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
